In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("antibiotic-use-in-livestock.csv")

In [2]:
data.head()

        Entity Code  Year  Antibiotic use in livestock (mg/PCU)
0  Afghanistan  AFG  2010                                  16.3
1      Albania  ALB  2010                                  38.2
2      Algeria  DZA  2010                                  65.1
3       Angola  AGO  2010                                  25.1
4    Argentina  ARG  2010                                  29.6

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 4 columns):
Entity                                  291 non-null object
Code                                    291 non-null object
Year                                    291 non-null int64
Antibiotic use in livestock (mg/PCU)    291 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 9.2+ KB

In [4]:
data.columns

Index(['Entity', 'Code', 'Year', 'Antibiotic use in livestock (mg/PCU)'], dtype='object')