In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("antibiotic-use-in-livestock.csv")

In [2]:
data.head()

        Entity Code  Year  Antibiotic use in livestock (mg/PCU)
0  Afghanistan  AFG  2010                                  16.3
1      Albania  ALB  2010                                  38.2
2      Algeria  DZA  2010                                  65.1
3       Angola  AGO  2010                                  25.1
4    Argentina  ARG  2010                                  29.6

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 4 columns):
Entity                                  291 non-null object
Code                                    291 non-null object
Year                                    291 non-null int64
Antibiotic use in livestock (mg/PCU)    291 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 9.2+ KB

In [4]:
data.columns

Index(['Entity', 'Code', 'Year', 'Antibiotic use in livestock (mg/PCU)'], dtype='object')

In [6]:
data.sort_values(by="Antibiotic use in livestock (mg/PCU)", ascending=False)

                       Entity Code  Year  Antibiotic use in livestock (mg/PCU)
56                     Cyprus  CYP  2015                                 434.2
54                     Cyprus  CYP  2013                                 425.8
136                     Italy  ITA  2010                                 421.1
248                     Spain  ESP  2014                                 418.8
52                     Cyprus  CYP  2011                                 407.6
51                     Cyprus  CYP  2010                                 407.6
249                     Spain  ESP  2015                                 402.0
53                     Cyprus  CYP  2012                                 396.5
55                     Cyprus  CYP  2014                                 391.5
137                     Italy  ITA  2011                                 371.0
140                     Italy  ITA  2014                                 359.9
138                     Italy  ITA  2012                                 341.0
246                     Spain  ESP  2011                                 335.8
141                     Italy  ITA  2015                                 322.0
247                     Spain  ESP  2013                                 317.1
139                     Italy  ITA  2013                                 301.6
113                   Hungary  HUN  2010                                 269.9
245                     Spain  ESP  2010                                 259.5
115                   Hungary  HUN  2012                                 245.8
116                   Hungary  HUN  2013                                 230.7
97                    Germany  DEU  2010                                 211.5
98                    Germany  DEU  2011                                 211.5
118                   Hungary  HUN  2015                                 211.4
99                    Germany  DEU  2012                                 204.8
217                  Portugal  PRT  2014                                 201.6
117                   Hungary  HUN  2014                                 193.1
114                   Hungary  HUN  2011                                 192.5
216                  Portugal  PRT  2013                                 187.2
17                    Belgium  BEL  2010                                 180.1
100                   Germany  DEU  2013                                 179.7
..                        ...  ...   ...                                   ...
148                Kyrgyzstan  KGZ  2010                                  15.6
254                    Sweden  SWE  2010                                  15.2
35               Burkina Faso  BFA  2010                                  14.2
108                    Guinea  GIN  2010                                  14.2
255                    Sweden  SWE  2011                                  13.6
24                     Bhutan  BTN  2010                                  13.6
256                    Sweden  SWE  2012                                  13.5
23                      Benin  BEN  2010                                  12.8
257                    Sweden  SWE  2013                                  12.7
119                   Iceland  ISL  2010                                  12.7
39   Central African Republic  CAF  2010                                  11.9
259                    Sweden  SWE  2015                                  11.8
290                  Zimbabwe  ZWE  2010                                  11.6
258                    Sweden  SWE  2014                                  11.5
176                  Mongolia  MNG  2010                                  10.5
120                   Iceland  ISL  2011                                   6.6
121                   Iceland  ISL  2012                                   5.9
122                   Iceland  ISL  2013                                   5.3
123                   Iceland  ISL  2014                                   5.2
124                   Iceland  ISL  2015                                   5.0
194                    Norway  NOR  2010                                   4.1
196                    Norway  NOR  2012                                   3.8
195                    Norway  NOR  2011                                   3.7
197                    Norway  NOR  2013                                   3.7
198                    Norway  NOR  2014                                   3.1
199                    Norway  NOR  2015                                   2.9
106                 Greenland  GRL  2010                                   0.0
70                   Djibouti  DJI  2010                                   0.0
287            Western Sahara  ESH  2010                                   0.0
263                    Taiwan  TWN  2010                                   0.0

[291 rows x 4 columns]